#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

.loginData {
  color: #f1f1f1;
}

nav {
  background-color: #23254c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  margin: 0 1vw;
  list-style: none;
}

nav a {
  color: #e7ce8c;
  text-decoration: none;
  font-size: 1.2vw;
  padding-right: 1vw;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav a {
    font-size: 4vw;
    padding-right: 0.5vw;
  }
  nav li {
    margin: 1vh 0;
  }
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-items li {
  padding: 5px 10px;
  cursor: pointer;
}

.autocomplete-items li:hover {
  background-color: #f1f1f1;
}

.autocomplete-items li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20%;
  border-radius: 2vh;
  max-width: 50%;
}

#create-account-form {
  background-image: url(./img/popcorn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5%;
  margin-left: 60%;
  border-radius: 2vh;
  max-width: 20%;
}

#create-account-form input {
  border: none;
  border-radius: 15px;
  outline: none;
  width: 60%;
}

#movie-showcase {
  background-image: url(./img/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-right: 10%;
  padding: 2vh;
  color: #ccc;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10%;
  border-radius: 2vh;
}

#movie-showcase input {
  border: none;
  border-radius: 15px;
  outline: none;
  width: 100%;
}

footer {
  background-color: #e7ce8c;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131212;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

button {
  padding: 0.5%;
  background: #23254c;
  border: none;
  border-radius: 2vh;
  color: #f7f2f2;
  font-weight: bold;
  font-size: medium;
  transition: all 0.6s ease-in-out;
  display: flex;
}

button:hover {
  background: #e7ce8c;
  color: #23254c;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #000000;
  position: relative;
  margin-left: 10%;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}
.hide {
  display: none;
}
.agb {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
}
