#page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#content-wrap {
  padding-bottom: 4rem;
}

.loginData {
  color: #f1f1f1;
}

nav {
  background-color: #23254c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  margin: 0 1vw;
  list-style: none;
}

nav a {
  color: #e7ce8c;
  text-decoration: none;
  font-size: 1.2vw;
  padding-right: 0.5rem 1vw;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.autocomplete-items {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  border: none;
  border-radius: 1px;
  border-top: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-items li {
  padding: 5px 10px;
  cursor: pointer;
  color: #000000;
}

.autocomplete-items li:hover {
  background-color: #f1f1f1;
}

.autocomplete-items li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top:2%;
  border-radius: 2vh;
  max-width: 100%;
}

input {
  padding: 0.9rem;
  border-radius: 10px;
  border-style: none;
  margin:0.4%;
  font-size: larger;
}

#create-account-form {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: left;
  padding: 5rem;
  margin-left: 55%;
  margin-bottom:5%;
  border-radius: 2vh;
  max-width: 30%;
  margin-top: -15%;
}

#create-account-form input {
  border: none;
  border-radius: 10px;
  outline: none;
  padding:2%;
  width: 100%;
}

#movie-showcase {
  background-image: url(./img/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-bottom: 5%;
  padding: 10vh;
  color: #ccc;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 2vh;
}

#movie-showcase input {
  padding: 0.9rem;
  border-radius: 10px;
  border-style: none;
  margin:0.4%;
  font-size: larger;
}

footer {
  background-color: #faf4e2;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131212;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

button {
  padding: 0.6%;
  margin: 2%;
  margin-top:5%;
  background: #d0d2f7;
  border: none;
  border-radius: 2vh;
  color: #131111;
  font-weight: bold;
  font-size: xx-large;
  transition: all 0.8s ease-in-out;
  display: flex;
}

button:hover {
  background: #e7ce8c;
  color: #23254c;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #000000;
  position: relative;
  margin: 5%;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  padding: 2vw;
  border-radius: 10px;
  width: 30%;
  text-align: left;
}
.hide {
  display: none;
}
.agb {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(9px);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin:5%;
  text-align: left;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    margin: 1vh 0;
  }

  nav a {
    font-size: 4vw;
    padding-right: 0.5vw;
  }
}
