body {
  font-family: "Quicksand", sans-serif;
  background-image: url(./img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #212121;
}

/*font:
from https://fonts.google.com/specimen/Quicksand
color scheme:
https://colordesigner.io/#23254C-232323-E8ECF4-E1E2E5-E7CE8C
*/
