@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgba(212, 220, 247, 0.726);
}

#form {
  top: 50%;
  padding: 60px;
  transform: translateY(-20%);
}

#registration-form {
  position: fixed;
  top: 50%;
  padding: 60px;
  transform: translateY(-60%);
}


#settings-form {
  position: fixed;
  top: 60%;
  padding: 9vw;
  transform: translateY(-80%);
}